<div class="page">
  <div class="content">
    <div class="wardrobe-container">
      <div class="wardrobe-left">
        <div class="preview-room">
          <div id="preview-back">
            @for (item of selectedItems.slice().reverse(); track item.name) {
              @if (item?.images?.at(selectedVersion[item.name] ?? 0)?.at(1)) {
                <app-sprite [spriteUrl]="'/assets/wardrobe/' + item.images.at(selectedVersion[item.name] ?? 0)?.at(1)"
                            [spritePositionX]="1"
                ></app-sprite>
              }
            }
            @for (item of selectedItems; track item.name) {
              @if (item?.images?.at(selectedVersion[item.name] ?? 0)?.at(0)) {
                <app-sprite [spriteUrl]="'/assets/wardrobe/' + item.images.at(selectedVersion[item.name] ?? 0)?.at(0)"
                            [spritePositionX]="1"
                ></app-sprite>
              }
            }
          </div>
          <img class="room" src="/assets/webdesign/misc/wardrobe-sketch.png" alt="Preview room" />
          <div id="preview-front">
            @for (item of selectedItems.slice().reverse(); track item.name) {
              @if (item?.images?.at(selectedVersion[item.name] ?? 0)?.at(1)) {
                <app-sprite [spriteUrl]="'/assets/wardrobe/' + item.images.at(selectedVersion[item.name] ?? 0)?.at(1)"
                            [spritePositionX]="0"
                ></app-sprite>
              }
            }
            @for (item of selectedItems; track item.name) {
              @if (item?.images?.at(selectedVersion[item.name] ?? 0)?.at(0)) {
                <app-sprite [spriteUrl]="'/assets/wardrobe/' + item.images.at(selectedVersion[item.name] ?? 0)?.at(0)"
                            [spritePositionX]="0"
                ></app-sprite>
              }
            }
          </div>
        </div>
        <div class="wardrobe-sort">
          <div class="sort-item" (click)="sortItemUp(selectedSortItem)">&lt;</div>
          @for (item of selectedItems.slice().reverse(); track item.name) {
            <div class="sort-item" (click)="toggleSelectedSortItem(item)" [class.selected]="selectedSortItem === item">
              <div class="sort-sprite"
                   [style.top]="(item?.previewOffset ?? 0) / -2 + 20 + 'px'">
                @if (item?.images?.at(0)?.at(1)) {
                  <app-sprite [spriteUrl]="'/assets/wardrobe/' + item.images.at(0)?.at(1)"
                              [spritePositionX]="0"
                  ></app-sprite>
                }
                @if (item?.images?.at(0)?.at(0)) {
                  <app-sprite [spriteUrl]="'/assets/wardrobe/' + item.images.at(0)?.at(0)"
                              [spritePositionX]="0"
                  ></app-sprite>
                }
              </div>
            </div>
          }
          <div class="sort-item" (click)="sortItemDown(selectedSortItem)">&gt;</div>
        </div>
      </div>
      <div class="wardrobe-right">
        @if (!selectedSortItem) {
          <div class="wardrobe-items">
            @for (item of wardrobeItems; track item.name) {
              <app-item [item]="item"
                        (click)="toggleSelectedItem(item)"
                        [class.selected]="selectedItems.includes(item)"
              ></app-item>
            }
          </div>
        } @else {
          <div class="wardrobe-items">
            @for (image of selectedSortItem?.images; track i; let i = $index) {
              <app-item [item]="selectedSortItem"
                        (click)="chooseSelectedVersion(selectedSortItem, i)"
                        [class.selected]="selectedVersion[selectedSortItem.name] == i"
                        [version]="i"
              ></app-item>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
<p>wardrobe works!</p>
