.page {
  min-height: 100vh;
  background: url("/assets/webdesign/bg/dotsbg.png") center / auto repeat,
  #11320c;
}

/* Content */
.content {
  min-height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 64px;
}

.wardrobe-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  /*width: 300px;*/
  /*height: 150px;*/
  /*background: #FFEBCD;*/
  background-color: white;
  border: 2px solid black;
  /*border-radius: 8px;*/
  position: relative;
  gap: 2px;
  padding: 2px;
}

.preview-room {
  position: relative;
  width: 357px;
  height: 320px;
  background-color: white;
  border: 2px solid black;
  overflow: hidden;
  /*margin: 2px;*/
}

.preview-room img.room {
  width: 357px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
}

.wardrobe-items {
  width: 500px;
  /*height: 100%;*/
  border: 2px solid black;
  flex: 1 1 auto;
  padding: 2px;
  /*margin: 2px;*/
  position: relative;
}

app-sprite {
  position: absolute;
  top: 0;
  left: 0;
}

#preview-front {
  position: absolute;
  left: 87px;
  top: 46px;
  scale: 2;
}

#preview-back {
  position: absolute;
  /*left: 205px;*/
  left: 331px;
  top: -11px;
  scale: 2;
  transform: scaleX(-1);
}

app-item {
  display: inline-flex;
  cursor: pointer;
}
app-item.selected {
  border: 2px solid red;
}
