<!-- Header -->
<header class="header">
  <img src="/assets/webdesign/banner/woodbanner1.png" alt="Forest header" />
</header>

<!-- Woodbar separator -->
<div class="header-separator"></div>

<!-- Navigation -->
<nav class="nav">
  @if (isAuthenticated) {
  <button class="img-btn btn">
    <img src="/assets/webdesign/button/button1.png" alt="Social" />
  </button>

  <button class="img-btn btn">
    <img src="/assets/webdesign/button/button1.png" alt="Pet page" />
  </button>

  <button class="img-btn btn">
    <img src="/assets/webdesign/button/button1.png" alt="Adventure" />
  </button>

  <button class="img-btn btn">
    <img src="/assets/webdesign/button/button1.png" alt="Games" />
  </button>

  <button class="img-btn btn">
    <img src="/assets/webdesign/button/button1.png" alt="Shop" />
  </button>

  @if (isAdmin) {
  <button class="img-btn btn">
    <img src="/assets/webdesign/button/button1.png" alt="Admin" />
  </button>
  } }
</nav>
