/* Header */
.header-grid {
  display: grid;
  max-width: 100vw;
  height: 320px;
  grid-template-rows: 160px 20px 20px 10px 20px 20px 60px 20px;
  grid-template-columns: 10fr 450px 120px 120px 90px 70px 11fr;
  overflow: hidden;
  margin-bottom: -110px;
}

.header-banner-background {
  grid-row: 1 / 4;
  grid-column: 1 / 9;
  object-fit: cover;
  overflow: hidden;
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  z-index: 1;
}

.header-banner-fence {
  grid-row: 1 / 5;
  grid-column: 2 / 2;
  width: 100%;
  align-self: end;
  z-index: 3;
}

.header-banner-sign {
  grid-row: 1 / 4;
  grid-column: 5 / 5;
  width: 100%;
  align-self: end;
  padding-bottom: 10px;
  z-index: 3;
}

.header-banner-foliage-left {
  grid-row: 3 / 6;
  grid-column: 1 / 3;
  z-index: 2;
}

.header-banner-foliage-right {
  grid-row: 3 / 6;
  grid-column: 4 / 6;
  transform: scaleX(-1);
  z-index: 2;
}

.header-separator {
  grid-row: 4 / 4;
  grid-column: 1 / 7;
  height: 8px;
  background-image: url(/assets/webdesign/banner/woodbar.png);
  background-repeat: repeat-x;
  background-position: center;
  background-color: #11320c;
  transform: scale(2);
  image-rendering: pixelated;
  z-index: 4;
}

.header-nav {
  grid-row: 5 / 6;
  grid-column: 1 / 8;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  z-index: 4;
}

.header-background {
  grid-row: 4 / 8;
  grid-column: 1 / 8;
  z-index: 1;
  background: linear-gradient(#574834, #574834, rgba(145, 152, 229, 0));
}

.header img {
  width: 100%;
  display: block;
}

.img-btn {
  background: none;
  border: none;
  padding: 0;
}

.img-btn img {
  height: 38px;
  display: block;
}
