<div class="page">
  <div class="content">
    <div class="admin-table">
      <div class="admin-row">
        <div class="admin-box">
          <span class="admin-label">Clothing</span>
          <img src="/assets/webdesign/icon/witch-cap-icon.png" alt="Clothing" />
          <button class="admin-btn">Manage</button>
        </div>
        <div class="admin-box">
          <span class="admin-label">Genes</span>
          <img src="/assets/webdesign/icon/dna-black-icon.png" alt="Genes" />
          <button class="admin-btn">Manage</button>
        </div>
      </div>
    </div>
  </div>
</div>
