.page {
  min-height: 100vh;
  background: url("/assets/webdesign/bg/dotsbg.png") center / auto repeat,
  #11320c;
}

/* Content */
.content {
  min-height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 64px;
}

.admin-table {
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-table .admin-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.admin-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 300px;
  margin: 1rem;
  position: relative;
}

.admin-box .admin-box-background {
  background-color: #FFEBCD;
  border-radius: 5px;
  border: 2px solid #9D9D9D;
  opacity: 80%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.admin-box .admin-label {
  font-size: 32px;
  font-family: "Gentium Book Basic", serif;
  font-weight: bold;
  position: relative;
}

.admin-box img {
  width: 80px;
  height: 80px;
  position: relative;
}

.admin-box button {
  font-family: "Gentium Book Basic", serif;
  font-size: 24px;
  font-weight: bold;
  color: #303030;
  background-color: #92A1D5;
  border-radius: 8px;
  border-width: 0;
  width: 150px;
  height: 40px;
  position: relative;
}
