<div class="dashboard-grid">
  <!-- Announcements -->
  <section class="card announcements">
    <header class="card-title">Announcements</header>
    <div class="card-body"></div>
  </section>

  <!-- Hot topics -->
  <section class="card hot-topics">
    <header class="card-title">Hot topics</header>
    <div class="card-body"></div>
  </section>

  <!-- Profile -->
  <section class="card profile">
    <header class="card-title">Username</header>
    <div class="card-body"></div>
  </section>

  <!-- Shop updates -->
  <section class="card shop-updates">
    <header class="card-title">Shop updates</header>
    <div class="card-body"></div>
  </section>

  <!-- Friends Activity -->
  <section class="card friends-activity">
    <header class="card-title">Friends Activity</header>
    <div class="card-body"></div>
  </section>

  <!-- Alchemy -->
  <section class="card alchemy">
    <header class="card-title">Alchemy</header>
    <div class="card-body">
      <div class="image-container"></div>
      <div class="text-button-wrapper">
        <p>Create. Transform. Discover.</p>
        <button>Go to Alchemy</button>
      </div>
    </div>
  </section>

  <!-- Inventory -->
  <section class="card inventory">
    <header class="card-title">Inventory</header>
    <div class="card-body"></div>
  </section>
</div>
