.page {
  min-height: 100vh;
  background: url("/assets/webdesign/bg/dotsbg.png") center / auto repeat,
  #11320c;
}

/* Content */
.content {
  min-height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 64px;
}

/* Parchment */
.feather-container {
  position: relative;
  width: 470px;
  height: 542px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: space-around;
  align-items: center;
}

.feather-img {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

/* Parchment content */
.feather-content {
  width: 260px;
  z-index: 2;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-left: 65px;
  margin-bottom: 35px;
}

.feather-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feather-title {
  margin: 0 0 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 22px;
  color: #3b2b1e;
}

/* Form */
.field {
  width: 100%;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.field.center {
  justify-content: center;
  align-items: center;
}

.field label {
  margin-bottom: 3px;
  font-size: 16px;
  color: #4a3a2b;
}

.field input {
  background: #f5f1e6;
  border: 1px solid #b09b7a;
  padding: 6px 8px;
  font-family: serif;
  font-size: 13px;
  color: #3b2b1e;
  outline: none;
  border-radius: 4px;
}

/* login button */
.login-btn {
  position: relative;
  margin-top: 2rem;
  border: none;
  background: none;
  width: 100px;
}

.login-btn img {
  width: 100%;
  display: block;
}

.login-btn span {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  font-family: serif;
  font-size: 18px;
  color: #000000;
  pointer-events: none;
}

.login-btn:hover img {
  filter: brightness(1.1);
}

.login-btn:active img {
  transform: translateY(1px);
}

.reg-link {
  margin-top: 1rem;
  color: black;
}
.reg-link a:link {
  color: black;
}
.reg-link a:visited {
  color: black;
}
.reg-link a:hover {
  color: black;
}
.reg-link a:active {
  color: black;
}

.error-message {
  color: red;
}
