.page {
  background: url("/assets/webdesign/bg/dotsbg.png") center / auto repeat,
  #11320c;
}

/* Content */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8rem;
}

.login-panel {
  display: grid;
  background-color: #FCF4E4;
  border-radius: 20px;
  overflow: hidden;
  width: 1000px;
  height: 500px;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 2fr 5fr 7fr 2fr;
  border: 1px solid #303030;
}

.login-panel-header {
  grid-area: 1 / 1 / 1 / 4;
  background-color: #A98C71;
}

.login-panel-title {
  grid-area: 1 / 1 / 1 / 2;
  font-size: 24px;
  color: #413F3E;
  text-shadow: 1px 1px 1px #FCF4E4;
  font-family: "Quintessential";
  font-weight: bold;
  justify-self: center;
  align-self: center;
  padding: 20px;
}

.login-panel-intro {
  grid-area: 2 / 1 / 2 / 1;
  padding: 20px;
}

.login-panel-image-left {
  grid-area: 3 / 1 / 3 / 1;
  padding: 20px;
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
}

.login-panel-image-right {
  grid-area: 2 / 3 / 4 / 3;
  padding: 20px;
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
  justify-self: end;
  align-self: center;
}

.register-link {
  grid-area: 4 / 1 / 4 / 4;
  align-self: center;
  justify-self: center;
}

/* Parchment */
.feather-container {
  position: relative;
  width: 516px;
  margin: 0 auto;
}

.feather-img {
  width: 100%;
  display: block;
}

/* Parchment content */
.feather-content {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.feather-title {
  margin: 0 0 6px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  font-size: 22px;
  color: #3b2b1e;
  margin-left: 3rem;
}

/* Form */
.field {
  width: 100%;
  max-width: 220px;
  margin: 0 auto;
  text-align: left;
  padding-left: 3rem;
}

.field.center {
  text-align: center;
}

.field label {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  color: #4a3a2b;
}

.field input {
  width: 100%;
  background: #f5f1e6;
  border: 1px solid #b09b7a;
  padding: 6px 8px;
  font-family: serif;
  font-size: 13px;
  color: #3b2b1e;
  outline: none;
  border-radius: 4px;
}

/* login button */
.login-btn {
  position: relative;
  margin-top: 2rem;
  border: none;
  background: none;
  margin-left: 1rem;
  width: 100px;
}

.login-btn img {
  width: 100%;
  display: block;
}

.login-btn span {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  font-family: serif;
  font-size: 18px;
  color: #000000;
  pointer-events: none;
}

.login-btn:hover img {
  filter: brightness(1.1);
}

.login-btn:active img {
  transform: translateY(1px);
}

.error-message {
  color: red;
}
