<div class="page">
  <div class="content">
    <div class="feather-container">
      <img
        src="assets/webdesign/register_login/parchment.png"
        alt="Parchment"
        class="feather-img"
      />

      <div class="feather-content">
        <h2 class="feather-title">Sign in</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <label>Username</label>
            <input type="text" name="username" formControlName="username"/>
            @if (loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)) {
              <div class="error-message">
                @if (loginForm.get('username')?.hasError('required')) {
                  <span>Username is required.</span>
                }
              </div>
            }
          </div>

          <div class="field">
            <label>Password</label>
            <input type="password" name="password" formControlName="password"/>
            @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
              <div class="error-message">
                @if (loginForm.get('password')?.hasError('required')) {
                  <span>Password is required.</span>
                }
              </div>
            }
          </div>

          @if (errorMessage) {
            <div class="field">
              <div class="error-message">{{errorMessage}}</div>
            </div>
          }
          
          <!-- Login button -->
          <div class="field center">
            <button class="login-btn" type="submit" [disabled]="!loginForm.valid">
              <img src="assets/webdesign/button/button1.png" alt="Login" />
              <span>Sign In</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
