<div class="page">
  <div class="content">
    <div class="feather-container">
      <img
        src="assets/webdesign/register_login/parchment.png"
        alt="Parchment"
        class="feather-img"
      />

      <div class="feather-content">
        <h2 class="feather-title">Sign up now</h2>

        <div class="field">
          <label>Username</label>
          <input type="text" />
        </div>

        <div class="field">
          <label>Email</label>
          <input type="email" />
        </div>

        <div class="field">
          <label>Password</label>
          <input type="password" />

          <!-- Register button -->
          <div class="field">
            <button class="register-btn">
              <img src="assets/webdesign/button/button1.png" alt="Register" />
              <span>Register</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
