/* Page */
.page {
  background: url("/assets/webdesign/bg/dotsbg.png") center / auto repeat,
    #11320c;
}

/* Content */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

/* Parchment */
.feather-container {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.feather-img {
  width: 100%;
  display: block;
  max-height: 55vh;
  height: auto;
  padding-bottom: 1rem;
}

/* Parchment content */
.feather-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 350px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.feather-title {
  margin: 0 0 6px;
  font-family: "Alagard";
  font-weight: normal;
  font-size: 26px;
  color: #3b2b1e;
  margin-left: 3rem;
}

/* Form */
.field {
  width: 50%;
  max-width: 260px;
  margin: 0 auto;
  text-align: left;
  padding-left: 3rem;
}

.field label {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  color: #4a3a2b;
}

.field input {
  width: 100%;
  background: #f5f1e6;
  border: 1px solid #b09b7a;
  padding: 6px 8px;
  font-family: serif;
  font-size: 13px;
  color: #3b2b1e;
  outline: none;
  border-radius: 4px;
}

/* Register button */
.register-btn {
  position: relative;
  margin-top: 1rem;
  border: none;
  background: none;
  width: 100px;
}

.register-btn img {
  width: 100%;
  display: block;
  transform: translateX(-2rem);
}

.register-btn span {
  position: absolute;
  inset: 0;
  margin-right: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  font-family: "Alagard";
  font-size: 18px;
  color: #000000;
  pointer-events: none;
}

.register-btn:hover img {
  filter: brightness(1.1);
}

.register-btn:active img {
  transform: translateY(1px);
}
