.footer {
  bottom: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #00000030;
  gap: 24px;
  padding: 16px 0;
}

.footer a {
  color: #d8cbb8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
