.footer {
  bottom: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 16px 0;

  background-color: #0e260a;
  font-family: serif;
  font-size: 13px;
}

.footer a {
  color: #d8cbb8;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
