.wardrobe-item {
  display: inline-flex;
  flex-direction: column;
  gap: 2px
}

.preview {
  width: 60px;
  height: 90px;
  background-color: white;
  border: 2px solid #9D9D9D;
  overflow: hidden;
  position: relative;
}

app-sprite {
  position: absolute;
  top: 0;
  left: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.buttons-left {
  display: flex;
  justify-content: start;
  gap: 2px;
}

.buttons-right {
  display: flex;
  justify-content: end;
  gap: 2px;
}

button {
  font-size: 7px;
  padding: 0px;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  background-color: white;
}
