.page {
  min-height: 100vh;
  background: url("/assets/webdesign/bg/dotsbg.png") center / auto repeat,
  #11320c;
}

/* Content */
.content {
  min-height: calc(100vh - 220px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
  padding-bottom: 64px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  background: #FFEBCD;
  border: 2px solid #9D9D9D;
  border-radius: 8px;
}
